/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Basic Styles
 *= require bootstrap
 *= require font-awesome
 *
 * SmartAdmin Styles : Caution! DO NOT change the order
   <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
  *= require smartadmin-production-plugins.min.css
 *= require smartadmin-production
 *= require smartadmin-skins
 *
 * We recommend you use "your_style.scss" to override SmartAdmin
 * specific styles this will also ensure you retrain your customization with
 * each SmartAdmin update.
 *= require your_style
 *

 *
 * Lock screen related styles
 *= require lockscreen
  *= require bootstrap.min.css
  *= require font-awesome.min.css
  *= require bootstrap-social




  <!-- SmartAdmin RTL Support  -->
  *= require smartadmin-rtl.min.css
  *= require dataTables/jquery.dataTables
  *= require buttons.dataTables.min
  *= require pivot
  *= require clockpicker
  *= require toastr
  *= require bootstrap-datetimepicker.min
  *= require style.css
  *= require devise_authy

  <!-- Scoped Style -->
  *= require layouts.scss
  *= require responsive.dataTables.min

  <!-- Application-wide Style -->
  *= require global.scss
 */
